{% extends "app/layout.html" %}

{% block title %}Contact{% endblock %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/contact_style.css' %}"/>
{% endblock %}

{% block content %}

    <h2>{{ title }}</h2>
    <hr class="memberTitle">

    {% for Student in students %}
        <div>
            <p class="memberName">{{ Student.0 }}</p>
            <p>Role: {{ Student.1 }}</p>
            <p class="memberEmail">Email: {{ Student.2 }}</p>
        </div>
    {% endfor %}
{% endblock %}
