{% extends "app/layout.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}


 <h1>{{ title }}</h1>
<h2>{{ message }}</h2>
<ul class="list-group">
    <div class= "students">
        
        {% for Student in students%}
            <li class="list-group-item">
            <div class= "Student">
                <h3><a href="">{{Student.student_id}} {{Student.first_name}}, {{  Student.last_name}}</a></h3>
                
                <p>{{Student.composite_scoree}}
            </div>
        </li>
        {%endfor%}
        <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="submit">Insert New Metrics</button>

    </div>
 </ul>
{% comment %} <div class= "reading">
    {% for Ireadyreading in reading%}
        <div class= "Ireadyreading">
            <h2><a href="#">{{Ireadyreading.student}}    {{  Ireadyreading.score}}</a></h2>
            
        </div>
    {%endfor%}
</div>

<div class= "math">
    {% for Ireadymath in reading%}
        <div class= "Ireadymath">
            <h2><a href="#">{{Ireadymath.student}}    {{  Ireadymath.score}}</a></h2>
            
        </div>
    {%endfor%}
</div> {% endcomment %}

<p>
    List More Info Here</a>
</p>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address> 

{% endblock %}
