{% extends "app/layout.html" %}
{% load crispy_forms_tags %} 


{% block content %}

<div class="content-section">
  <div class="media">
        <img class= "rounded-circle profile-img" src="{{user.profile.image.url}}">
        <h1>Instructor: {{user.username}}</h1>
        <div class="media-body">
            <p class="text-secondary">Email: {{user.email}}</p>
            <p 'helllo home'</p>
        </div>

    </div>
   <div class= "reading">
        {% for Ireadyreading in reading%}
            <div class= "Ireadyreading">
                <h2><a href="#">{{Ireadyreading.student}}    {{  Ireadyreading.score}}</a></h2>
                
            </div>
        {%endfor%}
    </div>

    
    

    {% comment %} <div class= "reading">
        {% for Ireadyreading in reading%}
            <div class= "Ireadyreading">
                <h2><a href="#">{{Ireadyreading.student}}    {{  Ireadyreading.score}}</a></h2>
                
            </div>
        {%endfor%}
    </div>

    <div class= "math">
        {% for Ireadymath in reading%}
            <div class= "Ireadymath">
                <h2><a href="#">{{Ireadymath.student}}    {{  Ireadymath.score}}</a></h2>
                
            </div>
        {%endfor%}
    </div> {% endcomment %}

    <!--FORM HERE -->
</div>

<h2>{{object.student_id}}</h2>
{% endblock %}

