.problemStatement {
    padding-top: 25px;
    padding-bottom: 25px;
}

.solutionStatement {
    padding-bottom: 65px;
}

.creationButton {
    border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.tableWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.styled-table thead tr {
    background-color: #008ac5;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 2px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #e4effb;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #008ac5;
}

.columnTitle {
    text-align: center;
}

.columnData {
    text-align: center;
}